hr{
    color:yellow;
    height: 25px;
    background-color: yellow;
    padding: 0;
    margin: 0;
}

nav{
    background-color:rgb(202, 202, 202);
    padding: 0;
    margin: 0;
}

.section{
    list-style: none;
    display: flex;
    background-color: rgb(202, 202, 202);
    padding: 0;
    margin: 0;
}
body{
    padding: 0;
    margin: 0;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  section{
    gap: 80px;
  }